table {
    border-collapse: collapse;
}
tr {
    font-size: 1em;
    border: solid;
    border-width: 1px 0;
}

td , th {
    width: 200px;
    font-size: 1em;
    padding: 4px;
    text-align: left;
}