.resultsTable {
    border-collapse: collapse;
}

.resultsTr {
    font-size: 1em;
    border: solid;
    border-width: 1px 0;
}

.deleteButton {
    color: red;
}

.resultsTd , .resultsTh {
    width: 300px;
    font-size: 1em;
    padding: 4px;
    text-align: left;
}
td {
    font-size: 1em;
    padding: 4px;
    text-align: left;
}

.amount {
    width: 80px;
}
.year {
    width: 40px;
}
.rateOfReturn {
    width: 50px;
}

.textInputLabel {
    border: 0;
}